* {
    font-family: 'Montserrat', sans-serif;
}

.konten {
    width: 954px;
    height: 825px;
    background-color: #0497E1;
    border-radius: 20px;
    color: #fff;
    margin: 50px auto;
}

.main {
    display: inline-block;
    /* border: 1px solid black; */
    margin: 100px auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 100px;
}

.isi1 {
    width: 710px;
    height: 95px;
    margin-top: 20px;
}

.isi2 {
    width: 710px;
    height: 95px;
    margin-top: 20px;
}

.isi3 {
    width: 710px;
    height: 95px;
    margin-top: 20px;
}

.txt {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.isian {
    background-color: #ECE8E8;
    width: 710px;
    height: 65px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
}

button {
    background-color: #333333;
    color: #fff;
    width: 710px;
    height: 65px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    margin-top: 90px;
    cursor: pointer;
}

a {
    color: #fff;
    margin-top: 30px;
}